*.obj
*.a
*.exe
*.dll
paths.txt
envheap
.vscode
test
workdir/bin
/*.bat
/*.ps1
/*.txt
autocmp.json
workdir/build
workdir/buildg
workdir/bin-gcc
workdir/build-gcc
workdir/build-zig
workdir/bin-zig
workdir/old
workdir/script/translations
workdir/.cache
workdir/__pycache__
workdir/compile_commands.json
workdir/comp_cache.json
workdir/helpers
workdir/tools
workdir/src/compiler/language/parse.c
workdir/src/compiler/language/parse.h
workdir/src/compiler/language/scan.c
workdir/src/compiler/language/scan.h
